  /* We need this to avoid layout shift since our icons are created dynamically */
  c-i {
      --ci-size: 1em;
      /* Custom elements are display: inline by default */
      display: inline-block;
      line-height: 0;
      width: var(--ci-size);
      height: var(--ci-size);
  }